<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="row top-buffer align-items-center">
                <div class="col-12">
                    <h3 style="color: #52a2ba;font-family:helvetica;"><b>SCHEDULER</b></h3>
                </div>
            </div>
            <div class="row top-buffer align-items-center justify-content-between">
                <div class="col-4">
                    <input type="text" id="myInput" (keyup)="filterRows()" placeholder="Filter by name">
                </div>
                <div class="col-2" style="text-align:right">
                    <button type="button" class="btn btn-danger" (click)="openModal(addJobTemplate)">
                    <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <!-- <div class="row top-buffer-2 align-items-center justify-content-between" *ngFor = 'let job of jobsList'>
                <div class="col-4">
                    <span>
                        <i *ngIf="job.status.includes('Healthy')" class="fa fa-check leftStatusIcon" style="color:green;"></i>
                        <i *ngIf="job.status.includes('Error')" class="fa fa-times leftStatusIcon" style="color:red;"></i>
                        <i *ngIf="job.status.includes('Paused')" class="fa fa-pause-circle leftStatusIcon"></i>
                        <i *ngIf="job.status.includes('Created')" class="fa fa-hourglass-half leftStatusIcon" style="color:orange;"></i>
                        {{job.name}}
                    </span>
                </div>
                <div class="col-6" style="text-align:right">
                    {{job.status}}
                    <button class="fontAwesomeIcon" (click)="pauseJob(job.id)">
                    <i *ngIf="job.status.includes('Healthy')" class="fa fa-pause"></i>
                    <i *ngIf="!job.status.includes('Healthy')" class="fa fa-play"></i>
                    </button>
                    <button class="fontAwesomeIcon" (click)="duplicateJob(job.id)">
                    <i class="fa fa-clone"></i>
                    </button>
                    <button class="fontAwesomeIcon" (click)="deleteJob(job._id)">
                    <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-hover table-borderless" id="myTable">
                        <tbody>
                            <tr *ngFor = 'let job of jobsList'>
                                <td>
                                    <i *ngIf="job.status.includes('Healthy')" class="fa fa-check leftStatusIcon" style="color:green;"></i>
                                    <i *ngIf="job.status.includes('Error')" class="fa fa-times leftStatusIcon" style="color:red;"></i>
                                    <i *ngIf="job.status.includes('Paused')" class="fa fa-pause-circle leftStatusIcon"></i>
                                    <i *ngIf="job.status.includes('Created') || job.status.includes('Resumed')" class="fa fa-hourglass-half leftStatusIcon" style="color:orange;"></i>
                                    {{job.name}}
                                </td>
                                <td style="text-align:right">
                                    {{job.status}}
                                    <button *ngIf="job.status.includes('Created')" class="fontAwesomeIcon" (click)="pauseJob(job._id, 'yes')">
                                    <i class="fa fa-play"></i>
                                    </button>
                                    <button *ngIf="job.status.includes('Resumed')" class="fontAwesomeIcon" (click)="pauseJob(job._id, 'no')">
                                    <i class="fa fa-pause"></i>
                                    </button>
                                    <button *ngIf="job.status.includes('Healthy')" class="fontAwesomeIcon" (click)="pauseJob(job._id, 'no')">
                                    <i class="fa fa-pause"></i>
                                    </button>
                                    <button *ngIf="job.status.includes('Error')" class="fontAwesomeIcon" (click)="pauseJob(job._id, 'yes')">
                                    <i class="fa fa-play"></i>
                                    </button>
                                    <button *ngIf="job.status.includes('Paused')" class="fontAwesomeIcon" (click)="pauseJob(job._id, 'yes')">
                                    <i class="fa fa-play"></i>
                                    </button>
                                    <button class="fontAwesomeIcon" (click)="duplicateJob(job._id)">
                                    <i class="fa fa-clone"></i>
                                    </button>
                                    <button class="fontAwesomeIcon" (click)="deleteJob(job._id)">
                                    <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addJobTemplate2>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            This is a modal.
        </div>
    </div>
</div>
</ng-template>
<ng-template #addJobTemplate>
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Job</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form [formGroup]="addJobForm" (ngSubmit)="addJob()">
                    <div class="row mt-2">
                        <!-- <div class="card-deck"> -->
                        <div class="col">
                            <div class="card">
                                <h5 class="card-header">Request details</h5>
                                <div class="card-body">
                                    <div class="form-row" formGroupName="request_details">
                                        <div class="form-group col-md-4">
                                            <label for="methodInput">Method</label>
                                            <select id="methodInput" class="form-control" formControlName="method">
                                                <option>GET</option>
                                                <option>POST</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <label for="endpointInput">Endpoint</label>
                                            <input type="text" class="form-control" id="endpointInput" required placeholder="https://www.google.com/" formControlName="url">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="frequencyInput">Frequency</label>
                                            <select id="frequencyInput" class="form-control" formControlName="request_interval_seconds">
                                                <option>60 seconds</option>
                                                <option>120 seconds</option>
                                                <option>300 seconds</option>
                                                <option>600 seconds</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <label for="locationsInput">Locations</label>
                                            <input type="text" class="form-control" id="locationsInput" placeholder="Global (default)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <h5 class="card-header">Assertions</h5>
                                <div class="card-body">
                                    <p>We will alert you if your target is unreachable or any assertions fail.</p>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="assertion">Assertion</label>
                                                    <select id="assertion" class="form-control">
                                                        <option selected>Response Code</option>
                                                        <option>Response Contains</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="assertionCode">Operator</label>
                                                    <select id="assertionOperator" class="form-control">
                                                        <option selected>=</option>
                                                        <option>in</option>
                                                        <option>!=</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="assertionCode">Value</label>
                                                    <input type="text" class="form-control" id="assertionCode" placeholder="200">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <!-- <div class="card-deck"> -->
                        <div class="col">
                            <div class="card">
                                <h5 class="card-header">Alert recipients</h5>
                                <div class="card-body">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#emailAddressesDiv">Email</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#mobileNumbersDiv">SMS</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane container active" id="emailAddressesDiv">
                                            <label for="emailAddressesInput">Email addresses</label>
                                            <select id="emailAddressesInput" class="form-control" formControlName="emails" placeholder="alerts@example.com">
                                                <option selected>user1@example.com</option>
                                                <option>user2@example.com</option>
                                                <option>user3@example.com</option>
                                            </select>
                                        </div>
                                        <div class="tab-pane container fade" id="mobileNumbersDiv">
                                            <label for="mobileNumbersInput">Mobile numbers</label>
                                            <input type="text" class="form-control" id="mobileNumbersInput" placeholder="9876556789" formControlName="phones">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <h5 class="card-header">Alert preferences</h5>
                                <div class="card-body">
                                    <p>Failure Tolerance</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tolerated_failures" id="alertPreference1" value="alertPreference1" formControlName="tolerated_failures">
                                        <label class="form-check-label" for="alertPreference1">
                                            Send an alert any time there's a problem
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tolerated_failures" id="alertPreference2" value="alertPreference2" formControlName="tolerated_failures">
                                        <label class="form-check-label" for="alertPreference2">
                                            Only send an alert if request fail continuously..
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="jobName">Unique name</label>
                                            <input type="text" class="form-control" id="jobName" formControlName="name" placeholder="Update content from endpoint">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</ng-template>